<p>Button samples</p>

{{ted-button text="Cancel"}}
{{ted-button text="Save" theme="dark"}}

{{#ted-button classNames="m-l:1"}}
  <em>any</em> markup can go here
{{/ted-button}}

{{ted-button
  text="can't click this"
  theme="dark"
  disabled=true
  classNames="m-l:1"}}
